* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    transition: background-image 2s ease-in-out;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 4rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#next-background{
    position: fixed;
    top: 10px;
    left: 10px;
}

@media(max-width:700px) {
    #time {
        font-size: 5rem;
    }
    .line{
        flex-direction: column;
        margin-top: 30px;
    }
    .column{

        width: 80%;
    }
    #date {
        font-size: 2rem;
    }
    
    h1 {
        margin-bottom: 1.5rem;
    }
    
    h2 {
        margin-bottom: 0.5rem;
        opacity: 0.6;
    }
}

